body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    @apply font-bold font-mono;
}

.time-line-container > div:last-child .education__time > .education__line {
    display: none;
}
