---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
    <div class="pb-12 mt-5">
        <!-- <div class="text-xl py-1">Moin 👋</div> -->
        <div class="text-4xl font-normal">
            Moin 👋 mein Name ist <br /><span
                class="text-6xl font-serif font-extrabold text-transparent bg-gradient-to-tr from-primary to-secondary bg-clip-text"
                >Jakob Strauß</span
            >.
        </div>
        <div class="text-3xl py-3 font-normal">
            Ich bin <span
                class="font-extrabold text-transparent bg-gradient-to-bl from-primary to-secondary bg-clip-text"
                >Frontend Entwickler</span
            > aus Hamburg.
        </div>
        <div class="py-2">
            <text class="text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ab perspiciatis nobis molestiae
                officia aspernatur ipsa saepe modi amet accusamus deserunt necessitatibus nulla deleniti cupiditate
                corporis reiciendis enim. Explicabo, excepturi.
            </text>
        </div>
        <div class="mt-8">
            <a class="btn" href="https://twitter.com/jkbstrauss" target="_blank"> Let's connect!</a>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">My last projects {'</>'}</div>
    </div>

    <HorizontalCard
        title="Portfolio Page"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
        badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demo Project 2"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Demo Project 3"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
        badge="FOSS"
    />

    <div>
        <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
        last_posts.map((post) => (
            <>
                <HorizontalCard
                    title={post.frontmatter.title}
                    img={post.frontmatter.heroImage}
                    desc={post.frontmatter.description}
                    url={post.url}
                    target="_self"
                />
                <div class="divider my-0" />
            </>
        ))
    }
</BaseLayout>
